body{
    background-color: darkgrey;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:darkslategray;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
.loader{
    border:10px solid darkgrey;
    border-top: 10px solid darkolivegreen;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}
.overview{
    display: flex;
    flex-wrap: wrap;
}
.result{
    border-radius: 1rem;
    background: darkseagreen;
    max-width: 200px;
    padding: 20px;
    margin: 20px;
    border: 2px black; 
}
img{
    max-width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.details h1{
    font-size: 50px;
}
.details p{
    font-size: 40px;
}
.details img{
    max-width: 100px;
}
.details{
    background-color: white;
    max-width: 800px;
    padding: 50px;
    margin: 50px;
}
nav li{
    display: block;
    margin: 10px;
    padding-left: 10px;
}
nav ul{
    display: inline-flex;
}
.error {
    border: solid red;
    background-color: salmon;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: fit-content;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
